:root {
  --main-background: #f2f0ee;
  --navigation-color: #555;
  --page-background: #e6e0e0;
  --h1-background: #838383;
  --footer-background: rgba(0, 0, 0, 0.7);
  --main-border-radius: 5px;
  font-size: 18px;
}

/* MAIN PAGE  */

body {
  margin: 0;
  background-color: var(--main-background);
  font-family: "Source Sans Pro", sans-serif;
}
.wrapper {
  max-width: 80%;
  margin: 50px auto;
  background-color: var(--page-background);
}

nav {
  border-radius: var(--main-border-radius) var(--main-border-radius) 0 0;
}
.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--navigation-color);
  border-radius: var(--main-border-radius) var(--main-border-radius) 0 0;
}

.container-logo img {
  height: 60px;
  margin: 20px auto;
}
.navigation a {
  color: #000;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  padding: 5px;
}
.links-soc img {
  margin-top: 5px;
  height: 35px;
}
.links-web {
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: 50px;
}
.links-soc {
  display: flex;
  align-items: center;
}

.links-web a:hover {
  color: #fff;
  border-bottom: 1px solid;
  padding-bottom: 0;
  transition-property: all;
  transition-duration: 0.4s;
}
.links-soc-item:hover {
  background-color: #fff;
  padding: 10px 5px 0px 5px;
  border-radius: 5px;
  border-radius: var(--main-border-radius);
  transition-property: all;
  transition-duration: 0.3s;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
/* MAIN PAGE */
.main-page {
  display: flex;
}
.about-me-container {
  padding: 20px 40px;
  flex: 1 0;
}
h1.h1-main-page {
  color: #fff;
}

h1,
h2 {
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 3rem;
  padding: 15px;
  background-color: #838383;
  border-radius: var(--main-border-radius) var(--main-border-radius) 0 0;
}
h2 {
  color: #fff;
  font-size: 2rem;
}

.about-me-paragraph {
  font-size: 1.2rem;
}
.about-me-paragraph-blockquote {
  font-size: 1.4rem;
  margin-top: 10px;
  margin-bottom: 5px;
}
.blockquote-author {
  text-align: right;
  padding: 5px;
  margin-bottom: 10px;
}
.my-photo {
  flex: 1 0;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-photo img {
  border: 2px solid #555555;
  padding: 15px;
  max-width: 100%;
  height: auto;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--footer-background);
  padding: 10px 40px;
  border-radius: 0 0 var(--main-border-radius) var(--main-border-radius);
  color: #fff;
}

.made-by {
  text-align: right;
}

/* ABOUT ME  */
.portfolio-link {
  color: inherit;
  text-transform: none;
  font-size: inherit;
  text-decoration: underline;
}
.about-me-page-container {
  display: flex;
}
.my-photo-small {
  width: 40%;
  align-self: center;
}

.portfolio-link:hover {
  color: red;
}

/* PORTFOLIO PAGE  */

.grid-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.grid-projects a {
  color: #000;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  padding: 5px;
}

.project-box {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: var(--main-border-radius);
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 200px;
  background-image: linear-gradient(
    to bottom,
    #f2f0ee,
    #c9c6c6,
    #a09f9f,
    #797979,
    #555555
  );
}
.project-box:hover {
  transition: all;
  transition-duration: 1s;
  background-image: linear-gradient(
    to top,
    #f2f0ee,
    #c9c6c6,
    #a09f9f,
    #797979,
    #555555
  );
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

/* CONTACT PAGE  */

.contact {
  width: 50%;
}
.contact-page-flex-container {
  display: flex;
  justify-content: space-evenly;
}

.photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  width: 30%;
}

h2.form-contact {
  display: inline-block;
  padding: 15px;
  background-color: var(--h1-background);
  border-radius: var(--main-border-radius);
}
.email-container {
  margin-top: 20px;
}
.email-container p {
  margin-top: 10px;
  font-size: 1.2rem;
}

@media screen and (max-width: 1000px) {
  .wrapper {
    max-width: 95%;
  }
  .navigation {
    flex-direction: column;
  }
  .links-web {
    border: none;
  }
  .container-logo {
    align-self: center;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    padding-bottom: 10px;
    margin: 5px;
    transition-property: background, padding;
    transition-duration: 0.5s;
  }

  /* MAIN PAGE  */

  .main-page {
    flex-direction: column;
  }
  .about-me {
    padding: 5px 5px;
  }

  .links-web {
    display: none;
    transition-property: all;
    transition-duration: 0.2s;
  }

  .links-web.active {
    display: block;
    top: 300px;
    display: block;
    margin-left: 0px;
    border-top: 1px solid;
  }

  .links-soc {
    display: none;
  }
  .links-soc.active {
    display: flex;
    padding: 10px;
    justify-content: center;
  }

  .links-web li {
    border-bottom: 1px solid;
    text-align: center;
  }

  .links-web a:hover {
    border-bottom: none;
  }
  .links-soc-item:hover {
    background-color: #fff;
    padding: 10px 5px 0px 5px;
    border-radius: 5px;
    border-radius: var(--main-border-radius);
    transition-property: all;
    transition-duration: 0.3s;
  }

  .container-logo img {
    height: 60px;
    margin: 0;
  }
  /* ABOUT ME  */

  .about-me-page-container {
    flex-direction: column;
  }

  /* CONTACT PAGE */

  .form-contact-container {
    width: 95%;
  }

  .photo-container {
    display: none;
  }
}

@media screen and (max-width: 1250px) {
  /* MAIN PAGE  */

  .main-page {
    flex-direction: column;
  }
}
