/* Colors
main backgroudn #f2f0ee
page background #F8F8F8
navigation #555
h1 background #838383

*/
:root {
  --main-background: #f2f0ee;
  --navigation-color: #555;
  --page-background: #e6e0e0;
  --h1-background: #838383;
  --footer-background: rgba(0, 0, 0, 0.7);
  --main-border-radius: 5px;
  font-size: 16px;
}

/* MAIN PAGE  */

body {
  margin: 0;
  background-color: var(--main-background);
  font-family: "Source Sans Pro", sans-serif;
}
.wrapper {
  max-width: 80%;
  margin: 50px auto;
  background-color: var(--page-background);
}

/* .main-page,
.portfolio-page,
.contact-page,
.about-me-page {
  background-color: var(--page-background);
  border-radius: var(--main-border-radius);
} */

nav {
  border-radius: var(--main-border-radius) var(--main-border-radius) 0 0;
}
.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--navigation-color);
  border-radius: var(--main-border-radius) var(--main-border-radius) 0 0;
}

.container-logo img {
  height: 60px;
  margin: 20px auto;
}
.navigation li,
a {
  color: #000;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  padding: 5px;
}
.links-soc img {
  margin-top: 5px;
  height: 35px;
}
.links-web {
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: 50px;
}
.links-soc {
  display: flex;
  align-items: center;
}

.links-web a:hover {
  color: #fff;
  border-bottom: 1px solid;
  padding-bottom: 0;
  transition-property: all;
  transition-duration: 0.4s;
}
.links-soc-item:hover {
  background-color: #fff;
  padding: 15px 5px 0px 5px;
  border-radius: 5px;
  border-radius: var(--main-border-radius);
  transition-property: all;
  transition-duration: 0.3s;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.main-page {
  display: flex;
}
.about-me-container {
  padding: 20px 40px;
  flex: 1 0;
}
h1.h1-main-page {
  color: #fff;
}

h1,
h2 {
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 3rem;
  padding: 15px;
  background-color: #838383;
  border-radius: var(--main-border-radius) var(--main-border-radius) 0 0;
}
h2 {
  color: #fff;
  font-size: 2rem;
}

.about-me-paragraph {
  font-size: 1.2rem;
}
.about-me-paragraph-blockquote {
  font-size: 1.4rem;
}
.my-photo {
  flex: 1 0;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-photo img {
  border: 2px solid #555555;
  padding: 15px;
  max-width: 100%;
  height: auto;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--footer-background);
  padding: 10px 40px;
  border-radius: 0 0 var(--main-border-radius) var(--main-border-radius);
  color: #fff;
}

.made-by {
  text-transform: uppercase;
  text-align: right;
}

/* ABOUT ME  */
.portfolio-link {
  text-transform: none;
  font-size: inherit;
  text-decoration: underline;
}
.about-me-page-container {
  display: flex;
}
.my-photo-small {
  width: 40%;
  align-self: center;
}

.portfolio-link:hover {
  color: red;
  /* transition-property: all; */
  /* transition-duration: 0.4s; */
  /* padding: 5px; */
}

/* PORTFOLIO PAGE  */

.grid-projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  justify-items: center;
}

.project-box {
  /* object-fit: contain; */
  width: 200px;
  height: 200px;
  background-color: red;
}

/* CONTACT PAGE  */

.form-contact-container {
  width: 50%;
}
.contact-page-flex-container {
  display: flex;
  justify-content: space-evenly;
}

.photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  width: 30%;
}

h2.form-contact {
  display: inline-block;
  padding: 15px;
  background-color: var(--h1-background);
  border-radius: var(--main-border-radius);
}

.form-contact input,
label,
textarea {
  display: block;
  margin: 5px;
  font-size: 1.3rem;
}

.form-contact input,
textarea {
  height: 35px;
  width: 75%;
  font-size: inherit;
  font-family: inherit;
  background-color: var(--page-background);
  border: 1px solid #000;
}

.form-contact input:focus {
  width: 70%;
  border-left: 5px solid #000;
  background: var(--main-background);
  transition-property: background, width;
  transition-duration: 0.4s;
}
.form-contact textarea:focus {
  width: 70%;
  height: 100px;
  border-left: 5px solid #000;
  background: var(--main-background);
  transition-property: background, width, height;
  transition-duration: 0.6s;
  border-radius: var(--main-border-radius);
}
.form-contact textarea {
  height: 80px;
  font-size: inherit;
  font-family: inherit;
}

.btn-form-send {
  box-sizing: border-box;
  border: none;
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1rem;
  padding: 8px;
  width: 80px;
  background-color: var(--h1-background);
  border-radius: var(--main-border-radius);
  cursor: pointer;
  margin-bottom: 30px;
}
.btn-form-send:hover {
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  font-size: 1.2rem;
  border-radius: var(--main-border-radius);
  transition-property: all;
  transition-duration: 0.2s;
}

@media screen and (max-width: 1000px) {
  .wrapper {
    max-width: 95%;
  }
  .navigation {
    flex-direction: column;
    align-items: center;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    padding-bottom: 10px;
    margin: 5px;
    transition-property: background, padding;
    transition-duration: 0.5s;
  }
  .hamburger:hover {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    border-radius: var(--main-border-radius);
    transition-property: all;
    transition-duration: 0.1s;
  }

  .main-page {
    flex-direction: column;
  }
  .about-me {
    padding: 5px 5px;
  }

  .links-web {
    display: none;
    transition-property: all;
    transition-duration: 0.2s;
  }

  .links-web.active {
    display: block;
    top: 300px;
    display: block;
    margin-left: 0px;
    border: 1px solid;
  }

  .links-soc {
    display: none;
  }
  .links-soc.active {
    display: flex;
    padding: 10px;
  }

  .links-web li {
    border: 1px solid;
  }

  .container-logo img {
    height: 60px;
    margin: 0;
  }

  /* CONTACT PAGE */

  .form-contact-container {
    width: 95%;
  }

  .photo-container {
    display: none;
  }
}
