/* Colors
main backgroudn #f2f0ee
page background #F8F8F8
navigation #555
h1 background #838383

*/
:root {
  --main-background: #f2f0ee;
  --navigation-color: #555;
  --page-background: #f8f8f8;
  --footer-background: rgba(0, 0, 0, 0.7);
  --main-border-radius: 5px;
}

body {
  margin: 0;
  background-color: var(--main-background);
  font-family: "Source Sans Pro", sans-serif;
}
.wrapper {
  background-color: var(--page-background);
  border-radius: var(--main-border-radius);
  /* mozna uzywac pikseli */
  max-width: 80%;
  /* max-width: 1200px; */
  margin: 50px auto;
}
nav {
  border-radius: var(--main-border-radius) var(--main-border-radius) 0 0;
}
.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--navigation-color);
  border-radius: var(--main-border-radius) var(--main-border-radius) 0 0;
  
}

.container-logo img {
  height: 60px;
  margin: 20px auto;
}
/* display inline-block */
.navigation li,
a {
  color: #000;
  font-size: 25px;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  padding: 5px;
}
.links-soc img {
  margin-top: 5px 0;
  height: 35px;
}
.links-web {
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: 50px;
}
.links-soc {
  display: flex;
  align-items: center;
}

.links-web a:hover {
  color: #fff;
  border-bottom: 1px solid;
  padding-bottom: 0;
  transition-property: all;
  transition-duration: 0.4s;
}
.links-soc-item:hover {
  background-color: #fff;
  padding: 15px 5px 0px 5px;
  border-radius: 5px;
  border-radius: var(--main-border-radius);
  transition-property: all;
  transition-duration: 0.3s;
  /* transition-timing-function: ease-in; */
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.page-1 {
  display: flex;
}
.about-me {
  padding: 20px 40px;
  flex: 1 0;
}
h1 {
  margin: 10px 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 40px;
  padding: 15px;
  background-color: #838383;
  border-radius: var(--main-border-radius) var(--main-border-radius) 0 0;
}

.about-me-paragraph {
  font-size: 20px;
}
.about-me-paragraph-blockquote {
  font-size: 25px;
}
.my-photo {
  flex: 1 0;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-photo img {
  border: 2px solid #555555;
  padding: 15px;
  max-width: 100%;
  height: auto;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--footer-background);
  padding: 10px 20px;
  border-radius: 0 0 var(--main-border-radius) var(--main-border-radius);
  color: #fff;
}
footer p {
  /* display: inline; */
  /* display: flex; */
}
.copy-right {
}

.made-by {
  text-transform: uppercase;
  text-align: right;
}
@media screen and (max-width: 1000px) {
  .wrapper {
    /* zawsze jakis margines zostawiamy w poziomie */
    max-width: 95%;
  }
  .navigation {
    flex-direction: column;
    align-items: center;

    /* display: block; */

    /* background-image: url(resources/my-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 20px 0; */
  }

  .hamburger {
    display: block;
    cursor: pointer;
    padding-bottom: 10px;
    margin: 5px;
    transition-property: background, padding;
    transition-duration: 0.5s;
  }
  .hamburger:hover {
    background-color: #fff;
    padding: 10px;
    /* padding: 15px 5px 0px 5px; */
    border-radius: 5px;
    border-radius: var(--main-border-radius);
    transition-property: all;
    transition-duration: 0.1s;
    /* transition-timing-function: ease-in; */
  }

  .page-1 {
    /*zmienic na flex column  */
    flex-direction: column;
    /* display: block; */
  }
  .about-me {
    padding: 5px 5px;
    /* flex: 1 0; */
  }

  .links-web {
    position: fixed;
    /* display: block; */
    top: -9999px;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function:linear;
  }
  .links-web.active {
    position: static;
    display: block;
    top: 300px;z
    display: block;
    margin-left: 0px;
    border: 1px solid;
   
  }

  .links-soc {
    display: none;
  }
  .links-soc.active {
    display: flex;
    padding: 10px;
  }

  .links-web li {
    border: 1px solid;
  }

  .container-logo img {
    height: 60px;
    margin: 0;
  }
}
