/* Colors
main backgroudn #f2f0ee
page background #F8F8F8
navigation #555555
h1 background #838383

*/

body {
  margin: ;
  background-color: #f2f0ee;
  font-family: "Source Sans Pro", sans-serif;
}
.wrapper {
  background-color: #f8f8f8;
  border-radius: 5px;
  max-width: 80%;
  margin: 50px auto;
}
nav {
  border-radius: 5px 5px 0 0;
}
.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #555555;
  border-radius: 5px 5px 0 0;
  /* background-image: url(resources/my-logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 20px 0; */
}
.logo img {
  height: 60px;
  margin: 20px auto;
}
.navigation li,
a {
  color: #000;
  font-size: 25px;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  padding: 5px;
}
.links-soc img {
  margin-top: 5px 0;
  height: 35px;
}
.links-web {
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: 50px;
}
.links-soc {
  display: flex;
  align-items: center;
}

.links-web a:hover {
  color: #fff;
  border-bottom: 1px solid;
  padding-bottom: 0;
}
.linked-in:hover {
  background-color: #fff;
  padding: 15px 5px 0px 5px;
  border-radius: 5px;
}
.git-hub:hover {
  background-color: #fff;
  padding: 15px 5px 0px 5px;
  border-radius: 5px;
}

.wrapper-page-1 {
  display: flex;
}
.about-me {
  padding: 20px 40px;
  flex: 1 0;
}
h1 {
  margin: 10px 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 40px;
  padding: 15px;
  background-color: #838383;
  border-radius: 40px 0 0 0;
}

.about-me-paragraph {
  font-size: 20px;
}
.about-me-paragraph-blockquote {
  font-size: 25px;
}
.my-photo {
  flex: 1 0;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-photo img {
  border: 2px solid #555555;
  padding: 15px;
  max-width: 100%;
  height: auto;
}
@media all and (max-width: 700px) {
  .my-photo {
    display: none;
  }
  .navigation {
    display: block;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: #555555;
    border-radius: 5px 5px 0 0;
    /* background-image: url(resources/my-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 20px 0; */
  }
  .links-web {
    display: block;
  }
  .links-soc {
    display: block;
  }
  .logo img {
    height: 60px;
    margin: 0;
  }
  .wrapper {
    max-width: 100%;
  }
}
