/* Colors
main backgroudn #f2f0ee
page backgroudn #F8F8F8

*/

body {
  margin: ;
  background-color: #f2f0ee;
  font-family: "Source Sans Pro", sans-serif;
}
.wrapper {
  background-color: #f8f8f8;
  border-radius: 5px;
  max-width: 80%;
  margin: 50px auto;
}
nav {
  border-radius: 5px 5px 0 0;
}
.navigation {
  display: flex;
  justify-content: space-around;
  background-color: #555555;
  border-radius: 5px 5px 0 0;
}
.navigation li,
a {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  padding: 5px;
}
.links-soc a {
}
.links-web {
  display: flex;
  padding: 0;
}
.links-soc {
  display: flex;
  padding: 0;
}
.navigation a:hover {
  color: #000;
  border-bottom: 1px solid;
}
.wrapper-page-1 {
  display: flex;
}
.about-me {
  padding: 80px;
  flex: 1 0;
}
h1 {
  text-transform: uppercase;
  font-size: 60px;
}
.my-photo {
  padding: 80px;
  display: flex;
  justify-content: center;
}
.my-photo img {
  flex: 10 0;
  max-width: 100%;
  height: 60vh;
}
.about-me-paragraph {
  font-size: 30px;
}
